/* CSS3 Animation */
@-webkit-keyframes scrollA {
  0% {
    opacity: 1;
    -webkit-transform: translateY(29%);
            transform: translateY(29%); }
  15% {
    opacity: 1;
    -webkit-transform: translateY(50%);
            transform: translateY(50%); }
  50% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(29%);
            transform: translateY(29%); } }
@keyframes scrollA {
  0% {
    opacity: 1;
    -webkit-transform: translateY(29%);
            transform: translateY(29%); }
  15% {
    opacity: 1;
    -webkit-transform: translateY(50%);
            transform: translateY(50%); }
  50% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(29%);
            transform: translateY(29%); } }

@-webkit-keyframes alarmJump {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0); }
  50% {
    -webkit-transform: translateX(5%) translateY(5%);
            transform: translateX(5%) translateY(5%); }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0); } }

@keyframes alarmJump {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0); }
  50% {
    -webkit-transform: translateX(5%) translateY(5%);
            transform: translateX(5%) translateY(5%); }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0); } }

@-webkit-keyframes carmove {
  0% {
    background-position: 0 bottom; }
  50% {
    background-position: 50% bottom; }
  100% {
    background-position: 100% bottom; } }

@keyframes carmove {
  0% {
    background-position: 0 bottom; }
  50% {
    background-position: 50% bottom; }
  100% {
    background-position: 100% bottom; } }

@-webkit-keyframes zzz {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0); }
  50% {
    -webkit-transform: translateX(3%) translateY(-3%);
            transform: translateX(3%) translateY(-3%); }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0); } }

@keyframes zzz {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0); }
  50% {
    -webkit-transform: translateX(3%) translateY(-3%);
            transform: translateX(3%) translateY(-3%); }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0); } }

@-webkit-keyframes ticketA {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes ticketA {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  100% {
    opacity: 0; } }
